svg[data-icon="xmark"] {
    font-size: 1.9em;
}

svg[data-icon="star"] {
    font-size: 1.5em;
    color: yellow;
}


svg {
    transition: 0.3s;
}

svg:hover {
    cursor: pointer;
    transform: scale(1.05) translateZ(0);
}
