.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}





.nowWord {
    font-size: 40px;
}

.entryField {
    display: flex;
    align-items: center;
}


input.readWord {
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 20px 20px;
    outline: none;
    font-size: 20px;
}



.check {
    padding-left: 15px;
    font-size: 35px;
}

svg[data-icon="check"] {
    color: green;
}

svg[data-icon="xmark"] {
    color: red;
}

.results {
    font-size: 25px;
}