.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup_inner {
    margin: auto;
    background: #35d0aa;
    border-radius: 35px;
    width: 20vw;
    padding: 15px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: showPopup 0.5s forwards;
    transform: translateY(-300px);
}



.close {
    margin-left: auto;
}

.close svg {
    color: #0d785f;
}

@keyframes showPopup {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(100px);
    }
}

@media (max-width: 1000px) {
    .popup_inner {
      width: 35vw;
    }
  }

  @media (max-width: 530px) {
    .popup_inner {
      width: 60vw;
    }
  }