

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    color: #fff;
    margin-top: 10px;
}

.nowWord {
    color: white;
    font-size: 40px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    width: 420px;
    justify-content: center;
}

.check {
    padding-left: 15px;
    font-size: 35px;
}

svg[data-icon="check"] {
    color: green;
}



@media (max-width: 425px) {
    .cards {
        width: auto;
    }
}