.entryFields {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

.entryField {
    display: flex;
    align-items: center;
}


input {
    border-radius: 50px;
    border: none;
    padding: 20px 20px;
    outline: none;
    font-size: 15px;
}

.btn {
    display: flex;
    justify-content: center;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    background-color: #1C82AD;
    transition: 0.3s;
    padding: 20px 40px;
    color: #fff;
    text-decoration: none;
}


.btn:hover {
    cursor: pointer;
    background-color: #176a8e;
}