.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 15px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 500;
}

.logo svg {
  margin-right: 5px;
  color: #e80000;
}

.logo span {
  color: red;
}

.dictionary img {
  transition: 0.5s;
}

.dictionary:hover img {
  transform: scale(1.05) translateZ(0);
}

.startNumber {
  display: flex;
  margin-top: 80px;
  align-items: center;
}

.startNumber span {
  height: 57px;
  display: flex;
  align-items: center;
  background-color: #767c13;
  border-radius: 50px;
  padding: 0 15px;
  z-index: 1;
  margin-right: -50px;
}

.startNumber__input {
  width: 50px;
  padding-left: 60px;
}